<h2><%= @post.title %></h2>
<hr>
<%= FutureCyborg.MarkdownParser.parse_markdown @post.content %>

<ul class="list-inline">
  <li>
    <strong>Likes:</strong>
    <%= @post.likes %>
  </li>

  <li>
    <strong>Views:</strong>
    <%= @post.views %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @post.user.username %>
  </li>
</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
