<div class="jumbotron">
  <h2>Welcome to FutureCyborg, <%= @username %></h2>
  Click <a href="<%= FutureCyborg.Router.Helpers.page_url(FutureCyborg.Endpoint, :index) %>">here</a> to go the the website!
</div>
