<h2>Show list item</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @list_item.name %>
  </li>

  <li>
    <strong>Shopping list:</strong>
    <%= @list_item.shopping_list_id %>
  </li>

</ul>

<%= link "Edit", to: list_item_path(@conn, :edit, @list_item) %>
<%= link "Back", to: list_item_path(@conn, :index) %>
